 <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2020-2021 PC Repair</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="/">Home</a></li>
          <li class="list-inline-item"><a href="/about">About</a></li>
          <li class="list-inline-item"><a href="/services">Services</a></li>
          <li class="list-inline-item"><a href="/contact">Contact</a></li>
        </ul>
      </footer>

</body>
</html>
