<%- include('partials/header') -%>

<div class="container">
  <div class="jumbotron">
    <h1>About Us</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos accusamus
      tempore iusto assumenda ea aliquid, officia veritatis voluptas error
      magnam quos doloribus nulla quod, animi id vero harum mollitia repudiandae
      nostrum quia. Cum, officiis dignissimos esse ab nam impedit consectetur
      exercitationem fuga consequatur delectus corporis est quis labore quae
      modi?
    </p>
  </div>
</div>
<%- include('partials/footer') -%>
