<%- include('partials/header') -%>
<div class="container hero">
  <div class="jumbotron">
    <div class="row">
      <div
        class="col-md-7 mt-5 animate__animated animate__backInLeft animate__delay-2s"
      >
        <h1>Computer is not working?</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum,
          mollitia?
        </p>
        <p>
          <a class="btn btn-primary btn-lg" href="#">Read More</a>
        </p>
      </div>
      <div class="col-md-5">
        <img
          class="mouse animate__animated animate__backInRight animate__delay-1s"
          src="images/mouse.png"
          alt="mouse"
        />
      </div>
    </div>
  </div>
</div>
<hr />
<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <div class="card" style="width: 18rem">
        <i class="fas fa-desktop fa-7x text-center p-2"></i>
        <div class="card-body">
          <h5 class="card-title">Hardware Problem?</h5>
          <p class="card-text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum
            fugiat suscipit nisi, aliquid dolor reprehenderit optio accusamus
            necessitatibus quis ipsa.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="card" style="width: 18rem">
        <i class="fab fa-windows fa-7x text-center p-2"></i>
        <div class="card-body">
          <h5 class="card-title">Software Problem?</h5>
          <p class="card-text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum
            fugiat suscipit nisi, aliquid dolor reprehenderit optio accusamus
            necessitatibus quis ipsa.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="card" style="width: 18rem">
        <i class="fas fa-cogs fa-7x text-center p-2"></i>
        <div class="card-body">
          <h5 class="card-title">Need PC Troubleshoot?</h5>
          <p class="card-text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum
            fugiat suscipit nisi, aliquid dolor reprehenderit optio accusamus
            necessitatibus quis ipsa.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer') -%>
